
    <form name="addImprovement" ng-controller="LandingPageController" class="form-horizontal " role="form">
        <fieldset>
            <legend>Add improvement</legend>
            <div class="form-group">
                <label class="control-label col-md-1">Title:</label>
                <div class="col-md-20">
                    @Html.TextBox("title", "", new { ng_model = "formtitle", placeholder = "Enter title", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">Description:</label>
                <div class="col-md-20">
                    @Html.TextArea("description", "", 10, 20, new { ng_model = "formdescription", placeholder = "Enter description", @class = "form-control" })
                </div>
            </div>
        </fieldset>
        <br />
        <input type="submit" ng_click="submitForm()" Value="Save">
    </form>
