<div>
    <h2>Edit Improvement</h2>
    <form name="addImprovement" action="#" ng-controller="LandingPageController" ng-submit="submitForm()">
        Title:    <br /><input type="text" ng-model="formtitle" class="form-control" placeholder="Enter title">    <br /><br />
        Description: <br /><input type="text" ng-model="formdescription" class="form-control" placeholder="Enter description"> <br /><br />
        <input type="submit" ngclick="Submit">
    </form>
</div>
