<div ng-controller="LandingPageController">

    <div>
        Free Points: {{freePoints}}
    </div>
    <div class="pull-right">
        <input type="checkbox" ng-model="myImprovementsOnly">Show my improvements only</input>
        <input type="text" ng-model="searchKeyword" placeholder="Filter improvements"></input>
    </div>
    <br/><br/>
    <div class="panel panel-default" ng-repeat="improvement in improvements | ownImprovement: myImprovementsOnly: loggedInUser | filter: searchKeyword | orderBy: '-Points'" id="panel{{improvement.Id}}">
        <div class="panel-heading" ng-click="toggleImprovement(improvement.Id)" ng-class="{'panel-collapsed': improvement.expanded===undefined || improvement.expanded===false}">
            <h3 class="panel-title">{{improvement.Title}} ({{improvement.Points}})</h3>
            <span class="pull-right clickable panel-collapsed">
                <span ng-repeat="a in range(improvement.UserPoints) track by $index">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </span>
                <i class="glyphicon glyphicon-chevron-down"></i>
            </span>
        </div>
        <div class="panel-body" ng-class="{collapse: improvement.expanded===undefined || improvement.expanded===false}">
            {{improvement.Description}}
            <br />
            <span class="text-warning">Owner: {{improvement.Owner}}</span>
            <br />
            <a href="/#/Edit/{{improvement.Id}}" role="button" class="btn btn-primary btn-sm" ng-disabled="improvement.Owner != loggedInUser">Edit</a>
            <button type="button" class="btn btn-success btn-sm" ng-click="increasePoint(improvement.Id)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-danger btn-sm" ng-click="decreasePoint(improvement.Id)"><span class="glyphicon glyphicon-thumbs-down"></span></button>
            <h2>Comments</h2>
            <textarea placeholder="Enter your comment" rows="5" cols="80" ng_model="newComment"></textarea>
            <button type="button" class="btn  btn-primary btn-sm" ng-click="addComment(improvement.Id, newComment)"><span>Submit</span></button>
            <div>
                <br />
            </div>

            <div class="panel panel-primary bg-danger" style='background-color: #506090;' ng-repeat="comment in improvement.Comments">
                {{comment.Owner}}
                <div>
                    <span class="text-info">
                        {{comment.Content}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
<a href="/#/Add">Add</a>

<style>
    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }
</style>
