<div  ng-controller="LandingPageController">
    <input type="text" ng-model="searchKeyword" placeholder="Filter improvements" class="pull-right"></input>
    <br/><br/>
    <div class="panel panel-default" ng-repeat="improvement in improvements | filter: searchKeyword | orderBy: '-Points'" id="panel{{improvement.Id}}">
        <div class="panel-heading panel-collapsed">
            <h3 class="panel-title">{{improvement.Title}} ({{improvement.Points}})</h3>
            <span class="pull-right clickable panel-collapsed"><i class="glyphicon glyphicon-chevron-down"></i></span>
        </div>
        <div class="panel-body collapse">
            {{improvement.Description}}
            <br />
            <a href="/#/Edit/{{improvement.Id}}" role="button" class="btn btn-primary btn-sm">Edit</a>
        </div>
    </div>

</div>
<a href="/#/Add">Add</a>

<style>
    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }
</style>
