<div ng-controller="ImprovementListController as improvementList">

    <div class="container">
        <div class="clearfix row">
            <div class="col-md-2"> Free Points: {{improvementList.freePoints}} </div>
            <div class="col-md-5 col-md-offset-5 pull-right">
                <input type="checkbox" ng-model="improvementList.myImprovementsOnly">Show my improvements only</input>
                <input type="text" ng-model="improvementList.searchKeyword" placeholder="Filter improvements"></input>
            </div>
        </div>
        <br /><br />
        <div class="row col-md-12">
            <div class="panel panel-default col-md-12" ng-repeat="improvement in improvements | ownImprovement: improvementList.myImprovementsOnly: improvementList.loggedInUser | filter: improvementList.searchKeyword | orderBy: '-Points'" id="panel{{improvement.Id}}">
                <div class="panel-heading col-md-12" ng-click="toggleImprovement(improvement.Id)" ng-class="{'panel-collapsed': improvement.expanded===undefined || improvement.expanded===false}">
                    <h3 class="panel-title">{{improvement.Title}} ({{improvement.Points}})</h3>
                    <span class="pull-right clickable panel-collapsed">
                        <span ng-repeat="a in range(improvement.UserPoints) track by $index">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                        </span>
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                </div>
                <div class="panel-body" ng-class="{collapse: improvement.expanded===undefined || improvement.expanded===false}">
                    {{improvement.Description}}
                    <br />
                    <span class="text-warning">Owner: {{improvement.Owner}}</span>
                    <br />
                    <a href="/#/Edit/{{improvement.Id}}" role="button" class="btn btn-primary btn-sm" ng-disabled="improvement.Owner != improvementList.loggedInUser">Edit</a>
                    <button type="button" class="btn btn-success btn-sm" ng-click="improvementList.increasePoint(improvement.Id)"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="improvementList.decreasePoint(improvement.Id)"hidden><span class="glyphicon glyphicon-thumbs-down"></span></button>
                    <div class="hidden-sm hidden-xs">
                        <h2>Comments</h2>
                        <textarea placeholder="Enter your comment" rows="5" cols="80" ng_model="newComment"></textarea>
                        <button type="button" class="btn  btn-primary btn-sm" ng-click="improvementList.addComment(improvement.Id, newComment)"><span>Submit</span></button>
                        <div>
                            <br />
                        </div>

                        <div class="panel panel-primary bg-danger" style='background-color: #506090;' ng-repeat="comment in improvement.Comments">
                            {{comment.Owner}}
                            <div>
                                <span class="text-info">
                                    {{comment.Content}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="/#/Add">Add</a>

<style>
    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }
</style>
