<html ng-app="app" ng-controller="LandingPageController as landingPage">

<body>
    <div class="alert alert-info hidden-sm hidden-xs">
        <h5>{{landingPage.quote}}</h5>
    </div>

    <div ng-view></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/App")

</body>
</html>