<html ng-app="app" ng-controller="LandingPageController">


<body>

    <link rel="stylesheet" href="../../theme/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../../theme/usebootstrap.css">

    <div class="alert alert-info">
        <h5>{{quote}}</h5>
    </div>

    <div ng-view></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/App")
</body>
</html>